
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


/* RESET */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px;
    background-color: #2d2b2b;
    color: #ffc424;
}


.clickable-image {
    cursor: pointer;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header {
    display: flex;
    background-color: #ffc424;
}

.main-header nav {
    margin: auto 0;
}

.main-header nav a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    color: #2d2b2b;
    transition: 0.3s;
}
.main-header nav a:hover {
    font-size: 23px;
    
}

.main-header img {
    height: 110px;
    padding: 5px 17px;
}