
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


/* RESET */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #2d2b2b;
    color: rgb(247, 220, 45);
}


.clickable-image {
    cursor: pointer;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
